.btn {
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1rem 0;

  padding: 1rem 2rem;
  transition: all 0.6s ease-out;
  text-align: center;
  text-decoration: none;

  &:hover {
    transform: translateY(-0.2rem);
  }

  &--cta {
    box-shadow: 0rem 0rem 0.5rem rgba($color-4, 0.3);
    background-color: $color-4;
    color: $color-white;

    &:hover {
      box-shadow: 0rem 0rem 1rem rgba($color-4, 0.6);
    }
  }

  &--white {
    box-shadow: 0rem 0rem 0.5rem rgba($color-white, 0.3);
    background-color: $color-white;
    color: $color-black;

    &:hover {
      box-shadow: 0rem 0rem 1rem rgba($color-white, 0.6);
    }
  }

  &--black {
    box-shadow: 0rem 0rem 0.5rem rgba($color-black, 0.3);
    background-color: $color-black;
    color: $color-white;

    &:hover {
      box-shadow: 0rem 0rem 1rem rgba($color-black, 0.6);
    }
  }

  &--contact-btn {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: 700;
    justify-content: space-between;
  }

  &--project {
    max-width: 50%;
    width: 15rem;

    @include respond(phone) {
      max-width: 100%;
    }
  }
}
