.profile-img {
  &__img {
    border-radius: 50%;
    box-shadow: $default-box-shadow;
    max-height: 50vh;
    max-width: 100%;
    height: auto;
    filter: brightness(20%);
    transition: all 0.2s ease-in-out;

    &.activated {
      transform: scale(1.05);
      filter: brightness(120%);
      box-shadow: 0 0 4rem 0 rgba($color-white, 0.4);
    }
  }
}
