.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 20rem;

    &__link {
        color: inherit;
    }

    .fab {
        font-size: 5rem;
        transition: 0.1s all ease-in-out;

        &:hover {
            color: $color-4;
            transform: rotate(-10deg) scale(1.1);
        }
    }

    @include respond(phone) {
        justify-content: center;
        max-width: 100%;
        
        .fab {
            margin: 2rem;
        }
    }
}